# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Default ignored files
/shelf/
/workspace.xml

# Logs
*.log
# System files
.DS_Store
# Build output (if any)
dist/
build/

.env